[submodule "pybossa/themes/default"]
	path = pybossa/themes/default
	url = https://github.com/PyBossa/pybossa-default-theme.git

[submodule "pybossa/themes/tinybeebj"]
	path = pybossa/themes/tinybeebj
	url = https://github.com/sfluo/tinybee-pybossa-theme.git

